.color_bg {
    background-color:#CCC;
}

.color_secondary_txt {
    color:#6d071a;
}

.color_secondary_bg {
    background-color: #6d071a;
}

.card_primary {
    display:flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 0;
    background-color: #DDD;
    color:black
}

.card_secondary {
    background-color: #853c49;
    display:flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 0;
    color:white
}

.picture_card {
    margin:0;
    width:15em;
}